# Dependencies
node_modules/
**/node_modules/

# Flutter / Dart
justalo_app/.dart_tool/
justalo_app/.flutter-plugins
justalo_app/.flutter-plugin-dependencies
justalo_app/.pub-cache/
justalo_app/.pub/
justalo_app/build/
justalo_app/ios/Pods/
justalo_app/ios/.symlinks/

# React / TS Build
justalo_complete_codebase/dist/
**/dist/

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
